p{
    background-color:red;
}
/* grouping */
.one{
    border-bottom: 2px solid red;
    color: red;
}
.two{
    border-bottom: 2px solid green;
    color: green;
}
.three{
    border-bottom: 2px solid blue;
    color: blue;
}
.four{
    border-bottom: 2px solid black ;
    color: black;
}
.one,
.two,
.three,
.four
/* , .my-p */{
    padding: 10px;
    margin: 10px 0;
    background-color: #eee;
}
/* nesing */
div p{
    color: red;

}
div .special{
    color: white;
}
